.register {
   height: 700px;
   width: 600px;
   background-color: #EEEEEE;
   border-radius: 15px;
   border: solid #DDD;
   padding: 20px;
   margin-left: 425.5;
   margin-right: 425.5;
   margin-bottom: 15px;
   grid-template-rows: 100px 500px 100px;
   font-family: 'Lilita2';
}

.register form {
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
    height: 400px;
}

.submit {
    font-size: 24;
    background-color: #FFB07B;
    border-color: #FFB07B;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    font-family: 'Lilita2';
}

.login {
   height: 700px;
   width: 600px;
   background-color: #EEEEEE;
   border-radius: 15px;
   padding: 20px;
   margin-left: 425.5;
   margin-right: 425.5;
   border: solid #DDD;
   margin-bottom: 15px;
   grid-template-rows: 100px 500px 100px;
   font-family: 'Lilita2';
}

.login form {
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 75px;
    height: 400px;
}

.profile {
   height: 700px;
   width: 900px;
   border: solid #DDD;
   background-color: #EEEEEE;
   border-radius: 15px;
   padding: 20px;
   margin-left: 275.5;
   margin-right: 275.5;
   margin-bottom: 15px;
   font-family: 'Lilita2';
   display: grid;
   grid-template-rows: 630px 70px;
}

.profile form{
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-template-rows: 70px;
    grid-gap: 10px;
}

.info{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 300px auto;
    padding: 10px;
}