{% load static %}
<html lang="en" style="margin: 0 0 0 0;">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/png">
    <title>{% block title %}Petshop{% endblock %}</title>
</head>
<body style="margin: 0 0 0 0;">
<header style="padding: 15px 0 15 0;">
    {% include 'inc/_header.html' %}
</header>
<div style="width: 80%; padding-left: 10%; min-height: 100vh;">
    {% block content %}
    {% endblock %}
</div>
<footer>
    {% include 'inc/_footer.html' %}
</footer>
</body>
</html>